DB_HOST=localhost
DB_NAME=<YOUR_DB_NAME>
DB_USER=postgres  # default user for postgres
DB_PASSWORD=<YOUR_DB_PASSWORD>  
DB_PORT=5432  # default port for postgres
DB_SSL=disable  # disable ssl for local development