DB_HOST=localhost
DB_NAME=<YOUR_DB_NAME>
DB_USER=postgres  # default user for postgres
DB_PASSWORD=<YOUR_DB_PASSWORD>  
DB_PORT=5432  # default port for postgres
DB_SSL=disable  # set to "require" for production
GAE_ENV="" # set to "standard" for google app engine
EMAIL_ADDRESS="<YOUR_EMAIL_ADDRESS>"
EMAIL_PASSWORD="<YOUR_EMAIL_APP_PASSWORD>"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
OPENAI_API_KEY="<YOUR_OPENAI_API_KEY>"
ENV="local" # set to "prod" for production
